.container {
  min-height: 100vh;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  &__register {
    width: 100%;
    max-width: 470px;
    max-height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px 5px 20px 5px;
    border: 1px solid lightgray;
    flex-direction: column;
    background-color: #2d3748;
    border-radius: 5px;

    &__title {
      font-size: 2rem;
      font-weight: bold;
      color: #ffd700;
      margin: 1rem auto 1rem;
      letter-spacing: 5px;
    }
  }
}
