# Ignore artifacts:
node_modules
build
dist
vite.config.ts
tsconfig.node.json
tsconfig.json
tsconfig.app.json
tailwind.config.js
.prettierrc
components.json
eslint.config.js
index.html
pnpm-lock.yaml
postcss.config.js
README.md
package.json